body{
    background-image:linear-gradient(to right ,  #8500cd ,#b600c4);
    text-transform: capitalize;
    font-family:Arial, Helvetica, sans-serif;
}

.box{
    background-color: #ffffff;
    border-radius: 30px;
    width: 70%;
    height: 80vh;
    margin: 50px auto;
    text-align: center;
}

span{
    color: #5bba24;
}

.create{
    display: block;
    color: #5bba24;
    margin-top: 50px;
}

::placeholder{
    text-transform: capitalize;
    color: #838385;
    font-weight:500px;

}

input{
    border-radius: 26px;
    /* display: block; */
    background-color: #e5e5e5;
    padding: 17px;
    margin-bottom: 30px;
    /* margin-top: 10px; */
    border: none;
    width: 68%;

}

img{
    border-radius: 50%;
    width: 70%;
    margin: auto 0px;
}

.form{
    width: 100%;
    text-align: center;
    align-items: center;
    /* margin-right: 40px; */
    /* height: 100%; */
    /* margin-left: %; */
}

table{
    width: 100%;
    height: 100%;
}

.font-awesome{
    font-family: Helvetica, 'FontAwesome', sans-serif;
}

.login-btn{
    width: 75%;
    text-transform: uppercase;
    border: none;
    border-radius: 50px;
    background-color: #20cc44;
    padding: 17px ;
    color: aliceblue;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 15px;
    font-weight: bold;
}
tr td{
    width: 50%;
}

p{
    font-size: 0.9rem;
    text-align: center;
}

h2{
    font-weight:bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 50px;
    font-size: 28px;
}

a{
    text-decoration: none !important;
    color: #20cc44;    
}

